* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  
  }

  html, body {
    height: 100%;
    overflow-x: hidden;
    background: #EAEAEA;
}

.navbar {
  
  width: 100%;
  left: 0px;
  top: 0px;

  background: linear-gradient(180deg, #EE5253 0%, #D92223 100%);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255);
}

.tittle {
  font-size: 30px;
  line-height: 35.16px;
  color: white;
}

.nav-link {
  color: white;
  font-size: 20px;
}

#main-section {
  background: url(img/background-img1.jpg);
  height: 900px;
  
}

.box {
  border: 1px solid white;
  padding: 200px 20px;

}

p {
  color: white;
}

h1 {
  color: white;
}

#sec-section {
  display: flex;
  border-bottom: 1px solid green;
  background: white;
}

h2 {
  font-size: 40px;
  
}

#sec-section p {
  color: black;
  
}

#sec-section img {
  justify-content: right;
  width: 30%;
  padding: 100px 50px 0px 50px;
  border: 1px solid blue;
  
}

.box2 {
  padding: 100px 50px 20px 250px;
  border: 1px solid red;
}

#th-section {
  border: 1px solid green;
  transform: skew(0deg) rotate(-4deg);
  background: #EAEAEA;
  width: 1400px;
  height: 100px;
}

#form {
  position: relative;
  background: white;
}

#form {
  border: 1px solid blue;
}

fieldset {
  margin: 0 auto;
  width: 900px;
  border: 1px solid black;
}

#form h1, p {
  color: black;
}

.campo1 {
  border: 1px solid red;
  display: inline-grid;
  margin-left: 15px;
  
}

.campo2 {
  border: 1px solid red;
  display: inline-grid;
  margin-left: 15px;
}

.button { 
  border: 1px solid red;
  float: right;
  padding: 15px;
  margin-right: 200px;
}


footer {
  height: 100px;
  background: white;
  
}