@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  
  }

  html, body {
    height: 100%;
    overflow-x: hidden;
    background: #EAEAEA;
}

.navbar {
  
  width: 100%;
  left: 0px;
  top: 0px;
  background: linear-gradient(180deg, #EE5253 0%, #D92223 100%);
}

.navbar-brand {
  font-size: 30px;
}


.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255);
}


.nav-link {
  color: white;
  font-size: 20px;
}

#main-section {
  background: url(img/background-img1.jpg);
  height: 900px;
  
}

.box {

  padding: 200px 20px;
}

.box p {
  color: white;
}

.box h1 {
  color: white;
  font-size: 80px;
  font-weight: bold;
}

.box button {
  background: #EE5253;
  width: 290px;
  height: 60px;
  font-size: 22px;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
}

.box button:hover {
  cursor: pointer;
  background: #D92223;
}

#sec-section {
  display: flex;
  background: white;
}

h2 {
  font-size: 50px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 30px;
}

#sec-section p {
  color: #333333;
  font-size: 22px;
}

#sec-section img {
  justify-content: right;
  width: 30%;
  padding: 100px 50px 0px 50px;

  
}

.box2 {
  padding: 100px 50px 20px 250px;

}

#th-section {

  transform: skew(0deg) rotate(-4deg);
  background: #EAEAEA;
  width: 1400px;
  height: 100px;
}

#form {
  position: relative;
  background: white;
}



fieldset {
  margin: 0 auto;
  width: 1200px;
}

fieldset h1 {
  font-size: 50px;
  font-weight: bold;
  color: #333333;
}

fieldset p {
  font-size: 22px;
  color: #333333;
}

.campo1 {
  display: inline-grid;
  margin-left: 15px;
  
}

.campo2 {

  display: inline-grid;
  margin-left: 15px;
}

input {
  width: 338px;
  height: 60px;
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
}

.button { 
  float: right;
  padding: 30px 10px;
  
}

fieldset button {
  width: 304px;
  height: 60px;
  background: #10AC84;
  border-radius: 8px;
  margin-right: 150px;
  border: none;
  color: white;
}


footer {
  height: 90px;
  background: #EAEAEA;
  text-align: center;
}

footer div {
  width: 300px;
  margin: 0 auto;
  padding-top: 40px
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #sec-section img {
    padding: 100px 0px 0px 0px;
 
  }

  .box2 {
    padding: 30px 10px 30px 10px;

  }

  input {
    width: 250px;
    
  }

  fieldset button {
    width: 200px;
    margin-right: 430px;
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   
  #sec-section img {
    justify-content: right;
    width: 30%;
    padding: 100px 30px 0px 50px;
 
  }

  .box2 {
    padding: 100px 50px 20px 100px;

  }

  input {
    width: 300px;
    
  }
  
  .button { 
    float: right;
    padding: 30px 10px;
    
  }
  
  fieldset button {
    margin-right: 240px;
  }



}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}