* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  }

.navbar {
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;

  background: linear-gradient(180deg, #EE5253 0%, #D92223 100%);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255);
}

.tittle {
  font-size: 30px;
  line-height: 35.16px;
  color: white;
}

.nav-link {
  color: white;
  font-size: 20px;
}

.principal {
  background: url(img/background-img1.jpg);
  height: 900px;
  
}

.nigga {
  width: 400px;
  border: 1px solid white;
  margin: 200px;
  
}